<div class="row">
  <div class="col-lg-7">
    <h2>Product Types</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th>Country</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @product_types.each do |product_type| %>
            <tr>
              <td><%= product_type.title %></td>
              <td><%= product_type.body %></td>
              <td><%= product_type.country_id %></td>
              <td><%= link_to 'Show', product_type %></td>
              <td><%= link_to 'Edit', edit_product_type_path(product_type) %></td>
              <td><%= link_to 'Destroy', product_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Product type', new_product_type_path %>
  </div>
</div><!-- /.row -->
