<%= form_for(@product_description) do |f| %>
  <% if @product_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_description.errors.count, "error") %> prohibited this product_description from being saved:</h2>

      <ul>
      <% @product_description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'Property Name' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :body, 'Property Description' %><br />
    <%= f.text_area :body, rows: 5, cols:40 %>
  </div>
  <div class="form-group">
    <%#= f.label :product_type_id, 'Product Type' %><br />
    <%#= f.number_field :product_type_id %>
    <%= f.label :product_type_id, 'Product type' %><br/>
    <%= select :product_description, :product_type_id, ProductType.all.collect { |c| [c.name, c.id] }, {:prompt => 'Select Product Type'}, {:class => 'form-control', style: "width: 237px;"} %>
  </div>
  <div class="form-group">
    <%#= f.label :country_id %><!--br /-->
    <%#= f.text_field :country_id %>
    <%= f.label :country_id %><br/>
    <%= select :product_description, :country_id, Country.all.collect { |c| [c.name, c.id] }, {:prompt => 'Select Country'}, {:class => 'form-control', style: "width: 237px;"} %>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
