<div class="row">
  <div class="col-lg-7">
    <h2>Product Descriptions</h2>
    <%= form_for(@country, url: '/product_descriptions', method: :get, html: {class: 'country-select-form', id: 'choose_your_country'}) do |f| %>
        <span>Choose <%= f.label :country_id %>:<!--Nigeria’s Most Reliable Paternity Testing Service--></span>
        <span><%= select :country, :id, Country.all.collect { |c| [c.name, c.id] }, {:prompt => 'Select Country'}, {:class => 'form-control country-select', :onchange => ("$('#choose_your_country').submit()")} %></span>
    <% end %>
    <div class="table-responsive">
      <table class="table table-bordered table-hover ">
        <thead>
        <tr>
          <th>Property Name</th>
          <th>Silver Kit</th>
          <th>Gold Kit</th>
          <!--<th>Country</th>-->
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @product_descriptions.each do |product_description| %>
            <tr>
              <td><%= product_description.property_title %></td>
              <td><%= product_description.description_silver_kit %></td>
              <td><%= product_description.description_gold_kit %></td>
              <!--<td><%#= product_description.country_id %></td>-->
              <td><%= link_to 'Show', product_description %></td>
              <td><%= link_to 'Edit', edit_product_description_path(product_description) %></td>
              <td><%= link_to 'Destroy', product_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Product description', new_product_description_path %>
  </div>
</div><!-- /.row -->
