<p id="notice"><%= notice %></p>

<p>
  <b>Property Name:</b>
  <%= @product_description.property_title %>
</p>

<p>
  <b>Description silver kit:</b>
  <%= @product_description.description_silver_kit %>
</p>

<p>
  <b>Description gold kit:</b>
  <%= @product_description.description_gold_kit %>
</p>

<!--<p>-->
  <!--<b>Product type:</b>-->
  <!--<%#= @product_description.product_type_id %>-->
<!--</p>-->

<p>
  <b>Country:</b>
  <%= @product_description.country_id %>
</p>


<%= link_to 'Edit', edit_product_description_path(@product_description) %> |
<%= link_to 'Back', product_descriptions_path %>

